

<div class="dish-card">
  <div class="dish-card-header">
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
    {{!-- double curlys used in inject the value of a variable --}}
    {{dish_name}}
    {{description}}
  </div>
</div>