<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
<!-- TODO: Use a built-in helper to display "Contains Nuts" if a food item contains nuts.-->
<div class="entry">
  {{#if has_nuts}}
  {{!-- <h1>{{dish_name}}</h1> --}}
  <h2>Contains Nuts!!</h2>
  {{/if}}
</div>
  </div>
</div>